@font-face {
    font-family: 'Koblenz Serial';
    font-style: normal;
    font-weight: normal;
    src: local('Koblenz Serial'), url('./fonts/koblenz_serial-regular.woff') format('woff');
  }

.bar{
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bar > *{
    margin: 1vh 2vw 0.5vh;
}

.bar .barLeft{
    font-family: 'Koblenz Serial';
    text-align: left;
}

.bar .barLeft h1{
    font-size: 20pt;
}

.bar .barRight{
    text-align: right;
}

.username{
    margin: 0 1vmin;
    font-size: 16pt;
    display: inline;
}