.users{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.users .userCard{
    max-width: 400px;
    border: solid 8px;
}

.users .userCard .cardUsername{
    text-align: center;
    color: black;
}

.users .userCard .buttonSection{
    display: flex;
    flex-direction: column;
}

.addUserSection .header{
    flex-direction: row;
    align-items: center;
}

.addUserSection .header .icon{
    margin: 10px;
}

.addUserSection .inputs{
    text-align: center;
}

.addUserSection .inputs .colorInput{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addUserSection .inputs .colorInput > * {
    margin-right: 10px;
}

.modal{
    margin-top: 20vh;
}

.randomButton{
    cursor: pointer;
    outline: 1px solid white;
    padding: 2px;
}

.settings ul{
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}

.settings ul > li{
    padding: 5px 0;
}

.settings p{
    color: #fff;
    text-decoration: none;
    width: auto;
    margin: auto;
}

.settings p:hover{
    cursor: pointer;

}

@media screen and (max-width: 650px) {

    .users{
        flex-direction: column;
    }

    
}